.banner {
  background: linear-gradient(
    315deg,
    rgba($orange, 1) 10%,
    rgba(217, 238, 36, 0.5) 48%,
    rgba($orange, 1) 90%
  );

  .content {
    transform: none !important;
  }

  &::before {
    background-image: url(./../../images/banner.jpg);
    @extend .section-before;
  }

  .concept {
    position: relative;
    z-index: 100;
    padding-left: 50px;
    color: $white;
    font-weight: 900;
    text-align: left;

    span {
      font-size: $fsH2;
    }
    small {
      font-size: 20px;
    }
  }

  .system-name {
    position: relative;
    z-index: 100;
    color: $black;
    width: 100%;
    // transform: none !important;
    // transition-delay: 2s !important;
    // transition: 3s !important;

    h1 {
    }

    span {
      font-family: "M PLUS 1p";
      padding-right: 5px;
      font-size: 58px;
      @extend .logo;
    }
  }

}