.message {
  .content {
    padding: 30px 0;
    background-color: $white;
    .logo {
      padding-right: 10px;
      font-size: 40px;

      &.red {
        color: rgba(255, 65, 77, 0.9);
        // filter: drop-shadow(-3px -3px 2px rgba($white, 0.4))
        //   drop-shadow(5px 5px 5px rgba($white, 0.4)),
        //   drop-shadow(0px 5px 5px rgba(255, 65, 77, 0.8));
          filter: none;
        }
        &.blue {
          color:  rgba(26, 129, 203, 0.9);
          filter: none;
        // filter: drop-shadow(-3px -3px 2px rgba($white, 0.4))
        //   drop-shadow(5px 5px 5px rgba($white, 0.4))
        //   drop-shadow(0px 5px 5px rgba(26, 129, 203, 0.8));
      }
    }
    .number {
      font-style: italic;
    }

    p {
      font-weight: 900 !important;
    }
  }
}
