.coach {
  background: linear-gradient(
    315deg,
    rgba(255, 65, 77, 0.8) 10%,
    rgba(245, 106, 121, 0.6) 48%,
    rgba(255, 65, 77, 0.95) 90%
  );
  &::before {
    background-image: url(../../images/coach-2.jpg);
    @extend .section-before;
  }
  .content {
    color: $white;
  }
}