/******************************************************************

Stylesheet: 1024px以上のモニタで適用

******************************************************************/

.banner {
  .concept {

    span {
      font-size: 60px;

    }
    small {
      font-size: 30px;
    }
  }
  .title {
    span {
      margin-right: 20px;
      font-size: 130px;
    }
  }
}