/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
span {
  &.break.first {
    display: inline;
  }
}

.banner {
  .concept {
    span {
      font-size: 45px;
    }
    small {
      font-size: 28px;
    }
  }
  .title {
    span {
      font-size: 80px;
    }
  }
}

.sns {
  .content {
    display: flex;
    flex-direction: row;
    height: 100%;

    .text {
      flex-basis: 50%;
      // min-width: 375px;
      min-width: calc(375px + 5%);
    }

    .slide-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
      }
    }
  }
}
