/******************************************************************

Stylesheet: 767px以上のタブレットやモニタで適用

******************************************************************/
.banner {
  .concept {
    span {
      font-size: 55px;

      &.break {
        display: block;
      }
    }
    small {
      font-size: 30px;
    }
  }
  .title {
    span {
      font-size: 110px;
    }
  }
}
