/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  // font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "M PLUS 1p", sans-serif;
}
h1, h2, p {
  font-family: "M PLUS 1p";
}
h2 {
  font-size: $fsHeading;
}

// #container {
//   position: relative;
//   z-index: 100;
//   width: 100%;
//   height: 100vh;
//   // overflow-x: hidden;
// }

section {
  // position: relative;
  text-align: center;
  background-color: orange;

  .content {
    position: relative;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
  }
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
  transition: 0.5s;

  &.triggered {
    background-color: rgba($color: orange, $alpha: 0.6);
  }

  &__title {
    p {
      color: #f0f0f0;
      font-size: 30px;
      font-weight: 600;
    }
  }
}

.banner {
  // background-image: url("../../images/abs-1850926_1920-2.jpg");
  // min-height: 100vh;
  // padding: 0;
  // background-color: rgba($color: #000000, $alpha: 0.6);
  background: linear-gradient(
    45deg,
    rgba(200, 104, 0, 1) 10%,
    rgba(221, 228, 39, 1) 51%,
    rgba(200, 124, 0, 1) 90%
  );
  background: linear-gradient(
    315deg,
    rgba(200, 104, 0, 1) 10%,
    rgba(217, 238, 36, 0.5) 48%,
    rgba(200, 124, 0, 1) 90%
  );
  // background-size: cover;
  // opacity: 0.4;

  &::before {
    content: "";
    background: url(../../images/banner-2.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  .content {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // min-height: 100vh;
    // padding: 80px 0;
  }

  .concept {
    position: relative;
    z-index: 100;
    // left: 50px;
    margin-top: 200px;
    padding-left: 50px;
    color: #fff;
    font-weight: 900;
    text-align: left;
    // filter: drop-shadow(-3px -3px 2px rgba(27, 38, 44, 0.4))
    //   drop-shadow(5px 5px 5px rgba(27, 38, 44, 0.4))
    //   drop-shadow(15px 15px 15px rgba(27, 38, 44, 0.4));

    span {
      font-size: $fsHeading;

      &.break {
        display: block;
      }
    }
    small {
      font-size: 20px;
    }
  }

  .title {
    position: relative;
    z-index: 100;
    color: #212121;
    width: 100%;
    font-weight: 900;
    h1 {
    }
    
    span {
      font-family: "M PLUS 1p";
      margin-right: 5px;
      font-size: 60px;
      font-style: italic;
      letter-spacing: 1px;
      filter: drop-shadow(-3px -3px 2px rgba(246, 247, 248, 0.4))
        drop-shadow(5px 5px 5px rgba(246, 247, 248, 0.4))
        drop-shadow(0px 15px 15px rgba(200, 104, 11, 0.8));
    }
  }
}
