@charset "UTF-8";
.logo, .header__inner h2, .banner .title span {
  font-weight: 900;
  font-style: italic;
  -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 248, 253, 0.4)) drop-shadow(5px 5px 5px rgba(255, 248, 253, 0.4)) drop-shadow(0px 15px 15px rgba(255, 150, 66, 0.8));
          filter: drop-shadow(-3px -3px 2px rgba(255, 248, 253, 0.4)) drop-shadow(5px 5px 5px rgba(255, 248, 253, 0.4)) drop-shadow(0px 15px 15px rgba(255, 150, 66, 0.8));
}

.section-before, .banner::before, .purpose::before, .coach::before, .sns::before {
  content: "";
  background-size: cover;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fp-tableCell,
.fp-slides {
  position: relative;
  z-index: 200 !important;
}

.fp-slidesNav {
  z-index: 400 !important;
}

.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

@-webkit-keyframes down {
  0%,
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: .1;
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down {
  0%,
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: .1;
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.arrow {
  font-size: 50px;
  color: #151515;
}

.arrow-container {
  position: absolute;
  z-index: 400;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 1050px;
  height: 50px;
  opacity: 0;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.arrow-container.inview {
  opacity: 1;
}

.arrow-container.inview .arrow.down {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: down 2s linear infinite;
          animation: down 2s linear infinite;
}

.arrow-container.inview .arrow.right {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: right 2s linear infinite;
          animation: right 2s linear infinite;
}

.coach .arrow-container, .sns .arrow-container {
  bottom: calc(5% + 17px);
}

@keyframes down {
  0%,
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.1;
  }
  60% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes right {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 0.1;
  }
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@keyframes right {
  0%,
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 0.1;
  }
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "M PLUS 1p", sans-serif;
}

h2,
.heading {
  position: relative;
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-size: 35px;
  font-weight: 900;
}

p {
  font-size: 28px;
}

span.break {
  display: block;
}

span.number {
  font-size: 45px;
}

.section {
  position: relative;
  text-align: center;
  background-color: orange;
}

.section__heading {
  position: absolute;
  z-index: 300;
  top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section__heading h2::before, .section__heading h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 1px;
  display: block;
  background-color: #cfd8dc;
  opacity: 0.6;
  -webkit-transition: -webkit-transform 1.5s ease 0.2s;
  transition: -webkit-transform 1.5s ease 0.2s;
  transition: transform 1.5s ease 0.2s;
  transition: transform 1.5s ease 0.2s, -webkit-transform 1.5s ease 0.2s;
}

.section__heading h2::before {
  right: 120%;
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.section__heading h2.inview::before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section__heading h2::after {
  left: 120%;
  -webkit-transform: translateY(-50%) scaleX(0);
          transform: translateY(-50%) scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section__heading h2.inview::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section .content {
  position: relative;
  z-index: 200;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.section .content p {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 700;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__inner {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner h2 {
  letter-spacing: 1px;
}

.banner {
  background: linear-gradient(315deg, #ff9642 10%, rgba(217, 238, 36, 0.5) 48%, #ff9642 90%);
}

.banner::before {
  background: url(../../images/banner.jpg) no-repeat center;
}

.banner .concept {
  position: relative;
  z-index: 100;
  padding-left: 50px;
  color: #fff8fd;
  font-weight: 900;
  text-align: left;
}

.banner .concept span {
  font-size: 40px;
}

.banner .concept small {
  font-size: 20px;
}

.banner .title {
  position: relative;
  z-index: 100;
  color: #151515;
  width: 100%;
}

.banner .title span {
  font-family: "M PLUS 1p";
  padding-right: 5px;
  font-size: 58px;
}

.purpose {
  background-color: rgba(32, 32, 32, 0.6);
  color: #fff8fd;
}

.purpose::before {
  background: url(../../images/purpose.jpg) no-repeat center;
  opacity: 0.7;
}

.purpose .content {
  padding: 0 5px;
}

.purpose .content .text {
  padding: 10px 0;
  background-color: rgba(21, 21, 21, 0.4);
  border-radius: 20px;
}

.purpose .content .logo, .purpose .content .header__inner h2, .header__inner .purpose .content h2, .purpose .content .banner .title span, .banner .title .purpose .content span {
  color: #151515;
  font-size: 40px;
  padding-right: 10px;
}

.features .content {
  height: 100%;
}

.features .content .feature {
  position: relative;
  z-index: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5%;
  color: #fff8fd;
}

.features .content .feature:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
}

.features .content .feature.red {
  height: 60%;
  background-color: #ff414d;
}

.features .content .feature.red:before {
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 50% 100%, 100% 100%);
          clip-path: polygon(100% 0, 50% 100%, 100% 100%);
  background-color: #1a81b7;
}

.features .content .feature.blue {
  height: 40%;
  background-color: #1a81b7;
}

.features .content .feature.blue:before {
  top: 0;
  -webkit-clip-path: polygon(50% 0, 0% 0, 0 100%);
          clip-path: polygon(50% 0, 0% 0, 0 100%);
  background-color: #ff414d;
}

.features .content .feature i {
  font-size: 40px;
  font-size: 60px;
}

.coach {
  background: linear-gradient(315deg, rgba(255, 65, 77, 0.8) 10%, rgba(245, 106, 121, 0.6) 48%, rgba(255, 65, 77, 0.95) 90%);
}

.coach::before {
  background: url(../../images/coach-2.jpg) no-repeat center;
}

.coach .content {
  color: #fff8fd;
}

.coach .content img {
  width: 100%;
  height: 100%;
}

.sns {
  background: linear-gradient(315deg, rgba(26, 129, 203, 0.8) 10%, rgba(102, 191, 191, 0.6) 48%, rgba(26, 129, 223, 0.95) 90%);
}

.sns::before {
  background: url(../../images/sns.jpg) no-repeat center;
}

.sns .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff8fd;
}

.sns .content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sns .content .slide-img {
  padding: 10px;
}

.sns .content .slide-img img {
  max-height: 180px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 248, 253, 0.9);
  -webkit-box-shadow: 0px -2px 10px -5px rgba(21, 21, 21, 0.6), 0px 5px 10px -5px rgba(21, 21, 21, 0.6);
          box-shadow: 0px -2px 10px -5px rgba(21, 21, 21, 0.6), 0px 5px 10px -5px rgba(21, 21, 21, 0.6);
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
  span.break.first {
    display: inline;
  }
  .section__heading {
    top: 30px;
  }
  .banner .concept span {
    font-size: 45px;
  }
  .banner .concept small {
    font-size: 28px;
  }
  .banner .title span {
    font-size: 80px;
  }
  .sns .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
  }
  .sns .content .text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-width: calc(375px + 5%);
  }
  .sns .content .slide-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  /******************************************************************

Stylesheet: 767px以上のタブレットやモニタで適用

******************************************************************/
  .banner .concept span {
    font-size: 55px;
  }
  .banner .concept small {
    font-size: 30px;
  }
  .banner .title span {
    font-size: 110px;
  }
}

@media (min-width: 1024px) {
  /******************************************************************

Stylesheet: 1024px以上のモニタで適用

******************************************************************/
  .banner .concept span {
    font-size: 60px;
  }
  .banner .concept small {
    font-size: 30px;
  }
  .banner .title span {
    padding-right: 20px;
    font-size: 130px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */