@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "M PLUS 1p", sans-serif;
}

h1, h2, p {
  font-family: "M PLUS 1p";
}

h2 {
  font-size: 40px;
}

#container {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
}

section {
  position: relative;
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: orange;
}

section .content {
  position: relative;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header.triggered {
  background-color: rgba(255, 165, 0, 0.6);
}

.header__title p {
  color: #f0f0f0;
  font-size: 30px;
  font-weight: 600;
}

.banner {
  min-height: 100vh;
  padding: 0;
  background: linear-gradient(45deg, #c86800 10%, #dde427 51%, #c87c00 90%);
  background: linear-gradient(315deg, #c86800 10%, rgba(217, 238, 36, 0.5) 48%, #c87c00 90%);
  background-size: cover;
}

.banner::before {
  content: "";
  background: url(../../images/banner-2.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.banner .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 80px 0;
}

.banner__img {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
}

.banner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .concept {
  position: relative;
  z-index: 100;
  padding-left: 50px;
  color: #fff;
  font-weight: 900;
  text-align: left;
}

.banner .concept span {
  font-size: 40px;
}

.banner .concept span.break {
  display: block;
}

.banner .concept small {
  font-size: 20px;
}

.banner .title {
  position: relative;
  z-index: 100;
  color: #212121;
  width: 100%;
  font-weight: 900;
}

.banner .title span {
  font-family: "M PLUS 1p";
  margin-right: 5px;
  font-size: 60px;
  font-style: italic;
  letter-spacing: 1px;
  -webkit-filter: drop-shadow(-3px -3px 2px rgba(246, 247, 248, 0.4)) drop-shadow(5px 5px 5px rgba(246, 247, 248, 0.4)) drop-shadow(0px 15px 15px rgba(200, 104, 11, 0.8));
          filter: drop-shadow(-3px -3px 2px rgba(246, 247, 248, 0.4)) drop-shadow(5px 5px 5px rgba(246, 247, 248, 0.4)) drop-shadow(0px 15px 15px rgba(200, 104, 11, 0.8));
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
  .banner .concept span {
    font-size: 45px;
  }
  .banner .concept span.break.first {
    display: inline;
  }
  .banner .concept small {
    font-size: 28px;
  }
  .banner .title span {
    font-size: 80px;
  }
}

@media (min-width: 768px) {
  /******************************************************************

Stylesheet: 767px以上のタブレットやモニタで適用

******************************************************************/
  .banner .concept span {
    font-size: 55px;
  }
  .banner .concept span.break {
    display: block;
  }
  .banner .concept small {
    font-size: 30px;
  }
  .banner .title span {
    font-size: 110px;
  }
}

@media (min-width: 1024px) {
  /******************************************************************

Stylesheet: 1024px以上のモニタで適用

******************************************************************/
  .banner .concept span {
    font-size: 60px;
  }
  .banner .concept small {
    font-size: 30px;
  }
  .banner .title span {
    margin-right: 20px;
    font-size: 130px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */